
<div class="container" style="margin: 20px;">
    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">Register</div>
                                <div class="card-body">
    
                                    <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" [(ngModel)]="users.name" formControlName="name" [class.is-invalid]="registerForm.get('name').invalid && registerForm.get('name').touched" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                                    <div *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">
                                                        <small *ngIf="registerForm.get('name').errors?.required" class="text-danger">Enter name please</small>
                                                        <small *ngIf="registerForm.get('name').errors?.minlength" class="text-danger">Enter a valid name</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="email" [(ngModel)]="users.email" formControlName="email" [class.is-invalid]="registerForm.get('email').invalid && registerForm.get('email').touched" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                                    <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                                                        <small *ngIf="registerForm.get('email').errors?.required" class="text-danger">Enter a email please</small>
                                                        <small *ngIf="registerForm.get('email').errors?.email" class="text-danger">Enter a valid email</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="cols-sm-2 control-label">Username</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                    <input type="text" [(ngModel)]="users.username" formControlName="username" [class.is-invalid]="registerForm.get('username').invalid && registerForm.get('username').touched" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                                                    <div *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                                                        <small *ngIf="registerForm.get('username').errors?.required" class="text-danger">Enter username please</small>
                                                        <small *ngIf="registerForm.get('username').errors?.minlength" class="text-danger">Enter a valid username</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label">Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" [(ngModel)]="users.password" formControlName="password" [class.is-invalid]="registerForm.get('password').invalid && registerForm.get('password').touched" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                                    <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                                                        <small *ngIf="registerForm.get('password').errors?.required" class="text-danger">Enter a password please</small>
                                                        <small *ngIf="registerForm.get('password').errors?.minlength" class="text-danger">Enter a valid password</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Phone" class="cols-sm-2 control-label">Phone</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="text" [(ngModel)]="users.phone" formControlName="phone" [class.is-invalid]="registerForm.get('phone').invalid && registerForm.get('phone').touched" class="form-control" name="confirm" id="confirm" placeholder="Enter your Phone number" />
                                                    <div *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched ">
                                                        <small *ngIf="registerForm.get('phone').errors?.required" class="text-danger">Enter your phone number</small>
                                                        <small *ngIf="registerForm.get('phone').errors?.pattern" class="text-danger">Enter a valid phone number</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button type="submit" [disabled]='registerForm.invalid' class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                        </div>
                                         <div class="login-register">
                                            Already have an account? <a routerLink="/login"> Login</a>
                                        </div> 
                                    </form>
                                </div>
    
                            </div>
                        </div>
                    </div>
     
